@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.cursor {
  position: fixed;
  background: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 100000;
  margin: -10px 0 0 -20px;
}

.shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: "orange";
  overflow: hidden;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
.shape.shape-1 {
  background: orange;
  width: 550px;
  height: 550px;
  margin: -325px 0 0 -325px;
}
.shape.shape-2 {
  background: #ffe5e3;
  width: 340px;
  height: 340px;
  margin: -220px 0 0 -220px;
}
.shape.shape-3 {
  background: #000;
  width: 170px;
  height: 170px;
  margin: -135px 0 0 -135px;
}
